<?xml version="1.0" encoding="utf-8"?>
<!--
  The Swissworx media template swapper replaces the nominated built-in media templates with a custom templates allowing to extend them.
  Before using this module, make sure you add the template id of your custom template below in the TargetTemplateId field.
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <processors>
      <uiUpload>
        <processor patch:after="*[@type='Sitecore.Pipelines.Upload.Save, Sitecore.Kernel']" 
                   mode="on" 
                   type="Swissworx.Modules.MediaTemplateSwapper.TemplateSwapProcessor, Swissworx.Modules.MediaTemplateSwapper">
          <Name>Template swapper</Name>
          <!-- This allows to apply the processor to a subset of media in your sitecore setup. E.g. for multi-site setups. -->
          <MediaRootPath>/sitecore/media library</MediaRootPath>
          <SwapConfigurations hint="list">
            <!-- Sample config for unversioned image template -->
            <Template type="Swissworx.Modules.MediaTemplateSwapper.SwapperConfiguration, Swissworx.Modules.MediaTemplateSwapper">
              <SourceTemplateId>{AB86861A-6030-46C5-B394-E8F99E8B87DB}</SourceTemplateId>
              <!-- Specify custom media template id -->
              <TargetTemplateId></TargetTemplateId>
            </Template>
            <!-- Sample config for unversioned jpeg template -->
            <Template type="Swissworx.Modules.MediaTemplateSwapper.SwapperConfiguration, Swissworx.Modules.MediaTemplateSwapper">
              <SourceTemplateId>{DAF085E8-602E-43A6-8299-038FF171349F}</SourceTemplateId>
              <!-- Specify custom media template id -->
              <TargetTemplateId></TargetTemplateId>
            </Template>
          </SwapConfigurations>
        </processor>
      </uiUpload>
    </processors>
  </sitecore>
</configuration>